* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

.big-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 15px;
  position: relative;
}
.img-screen{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-size: cover; 
  background-position: center; 
}
.img-screen::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(47, 55, 68, 0.8);
}
.img-screen img{
  width: 100%; 
  height: 100vh; 
  background-size: cover; 
  background-position: center;
  object-fit: cover;
}

.navbar {
  color: white;
}
.main-info {
  width: 80%;
  margin: auto;
  margin-block: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.main-weather-icon {
  width: 16rem;
  text-align: center;
}

.main-content {
  text-align: center;
  width: 50%;
  padding-inline: 60px;
  padding-block: 15px;
  color: white;
  box-shadow: inset -5px 0px 5px 1px rgb(201, 199, 196);
}
.main-content h1 {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-content h4 {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.city-date{
  opacity: 0.8; 
  font-size: 15px
}
.wind{
  font-size: 17px;
}
.wind span{
  font-weight: 700; 
  font-size: 17px;
}
.humidity{
  font-size: 17px;
}
.humidity span{
  font-weight: 700; 
  font-size: 17px;
}
.Weather-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-block: 15px;
}

/* Day Card */

.days-forcast{
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
.dayicon {
  width: 50px;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    text-align: center;
  }
  .main-info {
    width: 100%;
    text-align: center;
  }
  .main-weather-icon{
    width: 5rem;
  }
  .main-content {
    width: 100%;
  }
  .img-screen img{
    object-fit: cover;
  }
  .main-content h1 {
    font-size: 17.5px;
  }
  .main-content h4 {
    font-size: 20px;
  }
  .Weather-description {
    font-size: 22px;
    margin-block: 10px;
  }
  .city-date{
    font-size: 12px;
  }
  .wind{
    font-size: 12px;
  }
  .wind span{
    font-size: 13px;
  }
  .humidity{
    font-size: 12px;
  }
  .humidity span{
    font-size: 13px;
  }
  .days-forcast{
    height: 240px;
  }
}
