* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.big-container {
  width: 100%;
  margin: auto;
  padding: 15px;
  border: 2px solid red;
}
.navbar {
  box-shadow: -5px 8px 11px 0px rgba(176, 176, 176, 0.4);
  -webkit-box-shadow: -5px 8px 11px 0px rgba(176, 176, 176, 0.4);
  -moz-box-shadow: -5px 8px 11px 0px rgba(176, 176, 176, 0.4);
}
.main-info {
  width: 90%;
  margin: auto;
  margin-block: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  border: 2px solid rgb(80, 80, 255);
}

.main-weather-icon {
  width: 16rem;
  text-align: center;
}

.main-content {
  padding: 20px;
}
.main-content h1 {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-content h4 {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.Weather-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-block: 15px;
}

/* Day Card */

.day {
  width: 200px;
  text-align: center;
  border: 2px solid red;
}
.daycard {
  border: 3px solid greenyellow;
}
.dayhead{
    font-size: 20px;
  color: white;
  font-weight: 600;
}
.HR {
  margin-block: 14px;
}
.dayicon {
  width: 50px;
}
.daytemp {
  margin-block: 10px;
}

.daytemp {
  font-size: 1rem;
}

.daydes{

}


@media only screen and (max-width: 767px) {
  .navbar {
    text-align: center;
  }
  .main-info {
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  .main-content {
    padding: 15px;
    /* text-align: center; */
  }
}
