* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.big-container {
  width: 100%;
  margin: auto;
  padding: 15px;
  position: relative;
}
.img-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 3px solid rgb(109, 251, 247);
}
.img-screen::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(47, 55, 68, 0.8);
}
.img-screen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar {
  box-shadow: -5px 8px 11px 0px rgba(176, 176, 176, 0.4);
  -webkit-box-shadow: -5px 8px 11px 0px rgba(176, 176, 176, 0.4);
  -moz-box-shadow: -5px 8px 11px 0px rgba(176, 176, 176, 0.4);
}
.main-info {
  width: 80%;
  margin: auto;
  margin-block: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.main-weather-icon {
  width: 16rem;
  text-align: center;
}

.main-content {
  text-align: center;
  width: 50%;
  padding-inline: 80px;
}
.main-content h1 {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-content h4 {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.Weather-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-block: 15px;
}

/* Day Card */

.days-forcast{
  margin-top: 80px;
}

.day {
  width: 150px;
  border: 2px solid red;
}
.dayhead{
  font-size: 20px;
  font-weight: 600;
}
.dayicon {
  width: 60px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    text-align: center;
  }
  .main-info {
    width: 100%;
    /* padding: 5px; */
    text-align: center;
  }
  .main-weather-icon{
    width: 100%;
    width: 12rem;
  }
  .main-content {
    padding: 15px;
    width: 100%;
  }
}
